*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: rgb(43, 152, 116);
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    

}

main{
    display: flex;
    flex-wrap: wrap;
}

h1{
    color: white; 
    text-align: center;
}

.Tarjeta{ 
    width: 300px;
    height: 350px;
    background-color:cornflowerblue;
    border-radius: 6%;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 15px;
    border: 3px solid black;
    transition: all 0.5s ease-in-out;
}

.Tarjeta:hover{
    background-color: aqua;
    transform: scale(1.1);
    transform: rotate(5deg);
}

.tarjeta-titulo{
    padding-bottom: 15px;
}

.Tarjeta img{
    width: 150px;
    height: 150px;
    object-fit:scale-down;
    border-radius: 5px;
}

.Tarjeta .imagen{ 
    width: 200px;
}

.Tarjeta p{
    color:rgb(15, 9, 1); 
    font-size: 12px;
}

#oaxaqueña{color:rgb(216, 190, 195);}

#mexicana{color: rgb(125, 110, 125);}

#española{color: rgb(143, 118, 166);}

#alemana{color: rgb(244, 181, 170);}

#peruana{color: rgb(239, 153, 153);}